POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_CONTAINER_NAME=organisation-service-postgres
POSTGRES_DB=organisation_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

SERVICE_CONTAINER_NAME=organisation-service
GRPC_PORT=50051

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=organisation_service
DB_SSLMODE=disable

GRPC_ADDRESS=0.0.0.0:50051
GRPC_REQUEST_TIMEOUT_SEC=5
GRPC_REFLECTION=true

DB_POOL_SIZE_MAX=5
DB_POOL_SIZE_MIN=1
DB_CONN_MAX_LIFETIME_SEC=60
DB_CONN_MAX_IDLE_TIME_SEC=30
DB_CONNECT_TIMEOUT_SEC=3

METRICS_PORT=8000
METRICS_ADDRESS=:8000

# Add any additional environment variables as needed for your application
